<a id="features-section"></a>
{{#with features-section}}
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section__title section__title--small-margin">
            {{title}}
          </h2>
          <div class="swiper-container js-swiper-container-0">
            <ul class="row not-list-style">
              {{#each list}}
                <li class="col-12 col-md-6 col-lg-4 section__instalation-item">
                  <img
                    class="img-fluid image-thumb"
                    src="{{this.image}}"
                    alt="{{this.feature}}"
                  />
                  <h3
                    class="section__instalation-title--simply"
                  >{{this.title}}</h3>
                  <p>{{this.text}}</p>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/with}}