<a id="features-section"></a>
{{#with features-section}}
  <section class="section section--m">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section__title section__title--small-margin text-center">
            {{title}}
          </h2>
          <div class="swiper-container js-swiper-container-{{swiperCounter}}">
            <ul class="row not-list-style">
              {{#each list}}
                <li class="col-12 col-md-6 col-lg-4 section__instalation-item d-flex flex-column align-items-center">
                  <img
                    class="img-fluid image-thumb"
                    src="{{this.image}}"
                    alt="{{this.feature}}"
                  />
                  <h3
                    class="section__instalation-title--simply text-center"
                  >{{this.title}}</h3>
                  <p class="text-center">{{{this.text}}}</p>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/with}}