<a id="range-section"></a>
{{#with range-section}}
  <section class="section section--color">
    <div class="container">
      <header class="section__header">
        <h2 class="section__title">
          {{title}}
        </h2>
      </header>
      <div class="swiper-container js-swiper-container-{{swiperCounter}}">
        <div class="index-cards-container">
          {{#each range-cards}}
            <a target="_blank" href="{{url}}" class="index-card index-card--mini index-card--links">
              <article class="index-card__container">
                <div class="index-card__body pt-0">
                  <picture>
                    <source
                      class="index-card__image index-card__image--inline"
                      srcset="{{image2x}}"
                      media="(min-width: 768px)"
                    />
                    <img
                      alt="{{image-alt}}"
                      class="index-card__image index-card__image--inline"
                      src="{{image}}"
                    />
                  </picture>
                  <h3 class="index-card__title index-card__title--black mb-0">
                    {{title}}
                  </h3>
                  <footer class="index-card__footer">
                    <p
                      class="index-card__link index-card__link--footer"
                    >{{../more-info}}<i
                        class="fas fa-arrow-right index-card__link-icon"
                      ></i></p>
                  </footer>
                </div>
              </article>
            </a>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
{{/with}}