<a id="solar-kits-section"></a>
{{#with solar-kits-section}}
  <section class="section">
    <div class="container">
      <header class="section__header">
        <h2 class="section__title">
          {{title}}
        </h2>
      </header>
      <div class="swiper-container js-swiper-container-{{swiperCounter}}">
        <div class="index-cards-container">
          {{#each solar-kits-cards}}
            <a href="{{url}}" target="_blank" class="index-card index-card--special index-card--links">
              <article class="index-card__container index-card__container--special">
                <div class="index-card__body pt-0">
                  <picture class="index-card__image-container--special">
                    <source
                      class="index-card__image index-card__image--inline index-card__image--special"
                      srcset="{{image2x}}"
                      media="(min-width: 768px)"
                    />
                    <img
                      alt="{{image-alt}}"
                      class="index-card__image index-card__image--inline index-card__image--special"
                      src="{{image}}"
                    />
                  </picture>
                  <div class="index-card__regulations index-card__regulations--right-alignment">
                              {{#each logos}}
                                  {{#with (getContentOf this ../../material-cover)}}
                                    <picture class="index-card__regulation-item-picture">
                                      <source
                                        class="index-card__regulation-item {{#ifEqual ../this "ce"}}index-card__regulation-item--full-height--CE{{else}}index-card__regulation-item--full-height{{/ifEqual}}"
                                        srcset="{{image2x}}"
                                        media="(min-width: 768px)"
                                      />
                                      <img
                                        alt="{{image-alt}}"
                                        class="index-card__regulation-item {{#ifEqual ../this "ce"}}index-card__regulation-item--full-height--CE{{else}}index-card__regulation-item--full-height{{/ifEqual}}"
                                        src="{{image}}"
                                      />
                                    </picture>
                                  {{/with}}
                              {{/each}}
                  </div>
                  <h3 class="index-card__title index-card__title--black index-card__title--special  mb-0">
                    {{title}}
                  </h3>
                  <p class="index-card__subtitle mb-0">{{description}}</p>
                  <footer class="index-card__footer">
                    <p
                      class="index-card__link index-card__link--footer"
                    >{{../more-info}}<i
                        class="fas fa-arrow-right index-card__link-icon"
                      ></i></pa>
                  </footer>
                </div>
              </article>
            </a>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
{{/with}}