<a id="structures-section"></a>
{{#with structures-section}}
  <section class="section section--color">
    <div class="container">
      <header class="section__header">
        <h2 class="section__title">
          {{title}}
        </h2>
      </header>
      <div class="swiper-container js-swiper-container-{{swiperCounter}}">
        <div
          class="index-cards-container"
        >
          {{#each types as |type indexType|}}
            <article
              class="index-card index-card--50-percent"
            >
              <div class="index-card__container index-card__container--horizontal">
                <picture>
                  <source
                    class="index-card__image index-card__image--cover"
                    srcset="{{this.image2x}}"
                    media="(min-width: 768px)"
                  />
                  <img
                    alt="{{this.image-alt}}"
                    class="index-card__image index-card__image--cover"
                    src="{{this.image}}"
                  />
                </picture>
                <div class="index-card__body">
                  <h2
                    class="index-card__title index-card__title--black mb-0 mt-1"
                  >
                    {{type.title}}
                  </h2>
                  <p
                    class="index-card__subtitle"
                  >{{type.description}}</p>
                  <div class="index-card__footer">
                    <p class="index-card__subtitle-footer">{{../systems}}</p>
                  {{#each systems}}
                    {{#ifMultipleOf @index 4}}<ul class="badges-list">{{/ifMultipleOf}}
                    <li data-container-id="{{title}}" class="badges-list__item js-badge {{#ifFirstFirst indexType @index}}badges-list__item--active{{/ifFirstFirst}}">{{title}}</li>
                    {{#ifMultipleOfAndMore1 @index 4}}</ul>{{/ifMultipleOfAndMore1}}
                  {{/each}}
                  {{#ifTotalItemsMultipleOfAndMore1 systems 4}}{{else}}</ul>{{/ifTotalItemsMultipleOfAndMore1}}
                  </div>
                </div>
              </div>
            </article>
          {{/each}}
        </div>
      </div>
      {{#each types as |type indexType|}}
        {{#each systems as |type indexSystems| }}
          <div class="row js-badged-container-controlled d-none" data-id="{{title}}">
            <article class="container mb-5">
              <header class="mb-4">
                <h2 class="section__title section__title--subtitle-after">{{title}}</h2>
                <p class="lead">{{description}}</p>
              </header>
              <div class="row mb-5">
                <div id="carouselExampleControls-{{indexType}}-{{indexSystems}}" class="col-lg-12 col-xl-7 mb-3 mb-xl-0 carousel slide">
                  <div class="carousel-inner">
                    {{#each carousel}}
                      <div class="carousel-item {{#ifFirst @index}}active{{/ifFirst}}">
                        {{#ifEqual this.type 'image'}}
                          <picture class="d-block w-100">
                              <source
                              class="index-card__image index-card__image--cover"
                              srcset="{{image2x}}"
                              media="(min-width: 768px)"
                            />
                            <img
                              alt="{{image-alt}}"
                              class="index-card__image index-card__image--cover"
                              src="{{image}}"
                            />
                          </picture>
                          {{/ifEqual}}
                      </div>
                    {{/each}}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls-{{indexType}}-{{indexSystems}}" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls-{{indexType}}-{{indexSystems}}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="col-lg-12 col-xl-5">
                    <h5 class="section__sub-title">
                        {{../../qualities-advantages}}
                    </h5>
                    <ul class="dashed-list mb-4">
                      {{#each qualities-list}}
                        <li class="dashed-list__item">
                            {{this}}
                        </li>
                      {{/each}}
                    </ul>
                </div>
              </div>
              <h3 class="index-card__title index-card__title--black">
                  {{../../system-components}}
              </h3>
              <div class="swiper-container js-swiper-container-{{swiperCounter}}">
                <div class="index-cards-container">
                  {{#each components}}
                    {{#with (getContentOf this ../../../components)}}
                      <a href="{{url}}"  target="_blank" class="index-card index-card--mini index-card--links">
                        <article class="index-card__container">
                          <div class="index-card__body pt-0">
                            <picture>
                              <source
                                class="index-card__image index-card__image--inline"
                                srcset="{{image2x}}"
                                media="(min-width: 768px)"
                              />
                              <img
                                alt="{{image-alt}}"
                                class="index-card__image index-card__image--inline"
                                src="{{image}}"
                              />
                            </picture>
                            <div class="index-card__regulations index-card__regulations--right-alignment">
                              {{#each logos}}
                                  {{#with (getContentOf this ../../../../../material-cover)}}
                                  <picture class="index-card__regulation-item-picture">
                                      <source
                                        class="index-card__regulation-item index-card__regulation-item--full-height"
                                        srcset="{{image2x}}"
                                        media="(min-width: 768px)"
                                      />
                                      <img
                                        alt="{{image-alt}}"
                                        class="index-card__regulation-item index-card__regulation-item--full-height"
                                        src="{{image}}"
                                      />
                                    </picture>
                                  {{/with}}
                              {{/each}}
                            </div>
                            <h3 class="index-card__title index-card__title--black mb-0">
                              {{title}}
                            </h3>
                            <p class="index-card__subtitle mb-0">{{description}}</p>
                            <footer class="index-card__footer">
                              <p
                                class="index-card__link index-card__link--footer"
                              >{{../../../../more-info}}<i
                                  class="fas fa-arrow-right index-card__link-icon"
                                ></i></p>
                            </footer>
                          </div>
                        </article>
                      </a>
                    {{/with}}
                  {{/each}}
                </div>
              </div>
          </article>
          </div>
        {{/each}}
      {{/each}}
    </div>
  </section>
{{/with}}